* {
  color: white;
}

.movieDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__container {
    h1 {
      margin-bottom: 1rem;
    }
  }

  &__props {
    display: flex;
  }

  &__prop {
    display: flex;
    margin: 0 1rem 1rem 0;
  }

  &__flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

    h2 {
      justify-content: flex-start;
      flex: 0.75;
    }

    p {
      text-align: left;
      flex: 1;
    }
  }

  &__plot {
    margin-bottom: 1rem;
  }
}
