.movie {
  &__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem 1rem;
  }

  &__list {
    color: var(--font-primary);

    h2 {
      color: var(--font-secondary);
    }
  }
}

.show {
  &__list {
    color: var(--font-primary);

    h2 {
      color: var(--font-secondary);
    }
  }
}
