.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
  height: 72px;
  padding: 0.5rem 1rem;

  &__logo {
    color: var(--font-primary);
    text-decoration: none;
    font-weight: 700;
  }

  &__user {
    img {
      height: 3rem;
      width: 3rem;
    }
  }

  &__searchbar {
    width: 50%;
    display: flex;
    justify-content: center;

    form {
      width: 70%;
      display: flex;
      justify-content: center;

      button {
        padding: 0px 8px;
        font-size: 20px;
        cursor: pointer;
        height: 38px;
      }
    }

    input {
      font-size: 18px;
      padding: 5px 5px 5px 10px;
      max-height: 38px;
      outline: none;
    }
  }
}
