* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background: var(--primary-color);
}

a {
  text-decoration: none;
}

.main-container {
  margin: 0 4rem;
}
